.top-bar-btn{
    padding: 0px;
    margin: 0px;
    width: 75px;
    font-size: 12px;
}
.duction{
    color: green;
}
.intro{
    margin-top: 40px;
}
.info{
    height:300px;
    margin-left: 0px;
    margin-right: 0;
    padding: 15px;
}
.info1{
    padding: 70px;

}